@page
@model WahoClient.Pages.Cashier.ReturnOrders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReturnOrder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOrder.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnOrder.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOrder.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnOrder.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOrder.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnOrder.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOrder.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnOrder.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOrder.PayCustomer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnOrder.PayCustomer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOrder.PaidCustomer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnOrder.PaidCustomer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOrder.BillId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnOrder.BillId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOrder.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnOrder.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOrder.UserNameNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnOrder.UserNameNavigation.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOrder.Waho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnOrder.Waho.WahoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ReturnOrder?.ReturnOrderId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
