@page
@model WahoClient.Pages.Admin.Employees.IndexModel
@using System.Text.Json
@using BusinessObjects.WahoModels;

@inject IHttpContextAccessor HttpContextAccessor

@{
    var employeeJson = HttpContextAccessor.HttpContext.Session.GetString("Employee");
    var employee = JsonSerializer.Deserialize<Employee>(employeeJson);
}
@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Waho - Admin</title>
    <link href="~/css/modal.css" rel="stylesheet" asp-append-version="true" />
</head>
<body style="background: #f2f2f2">
    @*update model*@
    <div class="modal">
        <div id="update-modal">
            <form asp-page="./Edit" method="post">
                <div class="col-md-6">
                    <h4 class="text-right">Thông tin nhân viên</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Tên Nhân viên</label>
                        <input name="employeeName" id="employeeName" class="form-control input" type="text" placeholder="Nhập tên nhân viên" required />
                        <input name="userName" id="userName" class="form-control input" type="hidden" />
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Chức vụ</label>
                        <input name="title" id="title" class="form-control input" type="text" placeholder="Nhập chức vụ" required />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4">
                        <label class="labels">Ngày sinh</label>
                        <input name="dob" id="dob" class="form-control input" type="date" required />
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Ngày vào</label>
                        <input name="hireDate" id="hireDate" class="form-control input" type="date" />
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Số điện thoại</label>
                        <input name="phone" id="phone" class="form-control input" type="text" placeholder="Nhập số điện thoại" required />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Địa chỉ</label>
                        <input name="addrress" id="addrress" class="form-control input" type="text" placeholder="Nhập địa chỉ" required />
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Email</label>
                        <input name="email" id="email" class="form-control input" type="text" placeholder="Nhập email" required />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label class="labels">Ghi chú</label>
                        <input name="note" id="note" class="form-control input" type="text" placeholder="Ghi chú" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Phân quyền</label>
                        <select name="role" id="role" class="form-select" aria-label="Default select example">
                            <option value="1">Admin</option>
                            <option value="2">Thu ngân</option>
                            <option value="3">Nhân viên kho</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Kích hoạt tài khoản</label>
                        <div class="form-check">
                            <input name="activeUpdate" id="activeUpdate" type="checkbox" class="col-1 form-check-input" style="width:20px; height:20px" />
                            <lable class="form-check-label">kích hoạt</lable>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <button id="btnSubmit" class="btn btn-primary" type="submit">Lưu</button>
                    <button class="btn btn-primary" type="button" onclick="modal('update-modal', 0, 'scale(0)')">Đóng</button>
                </div>
            </form>
        </div>
    </div>
    @*end update model*@
    @*insert model*@
    <div class="modal">
        <div id="insert-modal">
            <form asp-page="./Create" method="post">
                <div class="col-md-6">
                    <h4 class="text-right">Thông tin nhân viên</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4">
                        <label class="labels">Tên Nhân viên</label>
                        <input name="employeeName" id="employeeName" class="form-control input" type="text" placeholder="Nhập tên nhân viên" required />
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Tên tài khoản</label>
                        <input name="userName" id="userName" class="form-control input" type="text" placeholder="Nhập tên tài khoản" required />
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Chức vụ</label>
                        <input name="title" id="title" class="form-control input" type="text" placeholder="Nhập chức vụ" required />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4">
                        <label class="labels">Ngày sinh</label>
                        <input name="dob" id="dob" class="form-control input" type="date" required />
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Ngày vào</label>
                        <input name="hireDate" id="hireDate" class="form-control input" type="date" />
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Số điện thoại</label>
                        <input name="phone" id="phone" class="form-control input" type="text" placeholder="Nhập số điện thoại" required />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Địa chỉ</label>
                        <input name="addrress" id="addrress" class="form-control input" type="text" placeholder="Nhập địa chỉ" required />
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Email</label>
                        <input name="email" id="email" class="form-control input" type="text" placeholder="Nhập email" required />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label class="labels">Ghi chú</label>
                        <input name="note" id="note" class="form-control input" type="text" placeholder="Ghi chú" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Phân quyền</label>
                        <select name="role" id="role" class="form-select" aria-label="Default select example">
                            <option value="1">Admin</option>
                            <option value="2">Thu ngân</option>
                            <option value="3">Nhân viên kho</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Kích hoạt tài khoản</label>
                        <div class="form-check">
                            <input name="activeInsert" id="activeInsert" type="checkbox" class="col-1 form-check-input" style="width:20px; height:20px" />
                            <lable class="form-check-label">kích hoạt</lable>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <button id="btnSubmit" class="btn btn-primary" type="submit">Lưu</button>
                    <button class="btn btn-primary" type="button" onclick="modal('insert-modal', 1, 'scale(0)')">Đóng</button>
                </div>
            </form>
        </div>
    </div>
    @*end insert model*@
    @*start filter*@
    <div class="bg-waho-white">
        <div class="modal-confirmation" id="modal-confirmation"></div>
        <div class="mt-4 position-relative bodydiv">
            <form method="get" asp-page="./Index" asp-route-pageIndex="@Model.pageIndex" asp-route-pageSize="@Model.pageSize" asp-route-textSearch="@Model.textSearch" asp-route-title="@Model.title" style="margin-bottom: 20px; ">
                <div class="d-flex">
                    <h3 class="col-2 me-4">Nhân viên</h3>
                    <div class="form-group flex-grow-1 me-4">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="textSearch" placeholder="Nhập thông tin nhân viên" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <button class="input-group-text btn-primary" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                    <div class="form-group me-4">
                        <button class="btn btn-primary" type="button" onclick="modal('insert-modal', 1, 'scale(1)');">
                            <i class="bi bi-plus-circle-fill" asp-page="Create"> </i>Thêm mới
                        </button>
                    </div>
                </div>
                @*end filter*@
                @if (Model.message != null)
                {
                    <div id="error-alert" class="d-flex justify-content-end position-absolute toast-message">
                        <div class="alert alert-danger text-center"><h5>@Model.message</h5></div>
                    </div>
                }
                @if (Model.successMessage != null)
                {
                    <div id="success-alert" class="d-flex justify-content-end position-absolute toast-message">
                        <div class="alert alert-success text-center"><h5>@Model.successMessage</h5></div>
                    </div>
                }
                <div class="d-flex">
                    <div class="d-flex flex-column col-2 me-4">
                        <div class="form-group col-6 mx-auto mb-3">
                            <select id="inputState" class="form-select" asp-for="@Model.pageSize" onchange="this.form.submit()">
                                <option value="5"> 5 hàng</option>
                                <option value="10">10 hàng</option>
                                <option value="15">15 hàng</option>
                                <option value="20">20 hàng</option>
                            </select>
                        </div>
                        @*title*@
                        <div class="row form-container py-4 mb-3">
                            <div class="m-auto">
                                <div>
                                    <h6>Chức vụ</h6>
                                    <hr />
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="this.form.submit()" asp-checked="@Model.title=='all'" asp-for="@(Model.title)" value="all" type="radio" />
                                    <label class="form-check-label">
                                        Tất cả
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="this.form.submit()" asp-checked="@Model.title=='1'" asp-for="@(Model.title)" value="1" type="radio" />
                                    <label class="form-check-label">
                                        Admin
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="this.form.submit()" asp-checked="@Model.title=='3'" asp-for="@(Model.title)" value="3" type="radio" />
                                    <label class="form-check-label">
                                        Nhân viên kho
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="this.form.submit()" asp-checked="@Model.title=='2'" asp-for="@(Model.title)" value="2" type="radio" />
                                    <label class="form-check-label">
                                        Thu ngân
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row form-container py-4">
                            <div class="m-auto">
                                <div>
                                    <h6>Trạng thái</h6>
                                    <hr />
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="this.form.submit()" asp-for="@Model.status" asp-checked="@Model.status=='all'" type="radio" value="all" id="CheckDefault">
                                    <label class="form-check-label" for="CheckDefault">
                                        Tất cả
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="this.form.submit()" asp-for="@Model.status" asp-checked="@Model.status=='true'" type="radio" value="true">
                                    <label class="form-check-label" for="CheckDefault">
                                        Kích hoạt
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" onclick="this.form.submit()" asp-for="@Model.status" asp-checked="@Model.status=='false'" type="radio" value="false">
                                    <label class="form-check-label" for="CheckDefault">
                                        Vô hiệu hoá
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.TotalCount > 0)
                    {
                        <div class="flex-grow-1 form-container px-3">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Tên nhân viên
                                        </th>
                                        <th>
                                            Chức vụ
                                        </th>
                                        <th>
                                            Ngày sinh
                                        </th>
                                        <th>
                                            Địa chỉ
                                        </th>
                                        <th>
                                            Số điện thoại
                                        </th>
                                        <th>
                                            Ghi chú
                                        </th>
                                        <th>
                                            Phân quyền
                                        </th>
                                        <th>
                                            Trạng thái tài khoản
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Employee)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @{
                                                    var date = "";
                                                    if (item.Dob != null)
                                                    {
                                                        date = item.Dob.Value.Day + "/" + item.Dob.Value.Month + "/" + item.Dob.Value.Year;
                                                    }
                                                }
                                                @date
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Phone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Note)
                                            </td>

                                            @if (item.Role == 1)
                                            {
                                                <td>Admin</td>
                                            }
                                            else
                                            {
                                                if (item.Role == 2)
                                                {
                                                    <td>Thu Ngân</td>
                                                }
                                                else
                                                {
                                                    <td>Nhân viên kho</td>
                                                }
                                            }
                                            @if (item.Active)
                                            {
                                                <td>Đã kích hoạt</td>
                                            }
                                            else
                                            {
                                                <td>Chưa kích hoạt</td>
                                            }
                                            <td class="d-flex align-items-center justify-content-between">
                                                <a onclick="getEmployeeDetail('@(item.UserName)', @employee.WahoId)">
                                                    <i class="bi bi-pencil-square icon-table icon-edit"></i>
                                                </a>
                                                <h6 class="m-0 vertical">|</h6>
                                                <a onclick="deleteEmployee('@item.UserName','@item.EmployeeName','@item.Title')">
                                                    <i class="bi bi-trash3-fill icon-table icon-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="d-flex mt-5">
                                <div class="pagination m-auto">
                                    <ul class="pagination">
                                        @if (Model.pageIndex > 1)
                                        {
                                            <li class="page-item">
                                                <a class="page-link link-paging" asp-page="./Index" asp-route-pageIndex="@(Model.pageIndex - 1)" asp-route-pageSize="@Model.pageSize"
                                           asp-route-textSearch="@Model.textSearch" asp-route-title="@Model.title">Trước</a>
                                            </li>
                                        }
                                        @for (int i = 1; i <= Math.Ceiling(Model.TotalCount / (double)Model.pageSize); i++)
                                        {
                                            <li class="page-item @(Model.pageIndex == i ? "active" : "") link-active">
                                                <a class="page-link link-paging" asp-page="./Index" asp-route-pageIndex="@i"
                                           asp-route-pageSize="@Model.pageSize" asp-route-textSearch="@Model.textSearch" asp-route-title="@Model.title">@i</a>
                                            </li>
                                        }
                                        @if (Model.pageIndex < Math.Ceiling(Model.TotalCount / (double)Model.pageSize))
                                        {
                                            <li class="page-item">
                                                <a class="page-link link-paging" asp-page="./Index" asp-route-pageIndex="@(Model.pageIndex + 1)"
                                           asp-route-pageSize="@Model.pageSize" asp-route-textSearch="@Model.textSearch" asp-route-title="@Model.title">Sau</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="flex-grow-1 d-flex align-items-center form-container">
                            <h5 class="m-auto">Không có nhân viên nào nào phù hợp</h5>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    // supplier details
    function getEmployeeDetail(userName, wahoId) {
        $.ajax({
            url: "https://localhost:7019/waho/Employee/username",
            type: "GET",
            data: { userName: userName, wahoId : wahoId},
            success: function (data) {
                // Gán dữ liệu vào các trường của form
                $("#userName").val(data.userName);
                $("#employeeName").val(data.employeeName);
                $("#title").val(data.title);
                $("#dob").val(formatDate(data.dob));
                if (data.hireDate == null) {
                    $("#hireDate").val("");
                } else {
                    $("#hireDate").val(formatDate(data.hireDate));
                }
                $("#phone").val(data.phone);
                $("#addrress").val(data.address);
                $("#email").val(data.email);
                $("#note").val(data.note);
                $("#role").val(data.role);
                if (data.active) {
                    $("#activeUpdate").prop("checked", true);
                } else {
                    $("#activeUpdate").prop("checked", false);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            }
        });
        modal('update-modal', 0, 'scale(1)')
    }
    //format date
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

    var delayTimer;

    $(document).ready(function () {
        setTimeout(function () {
            $("#success-alert").fadeOut("slow", function () {
                $(this).remove();
            });
            $("#error-alert").fadeOut("slow", function () {
                $(this).remove();
            });
        }, 5000); // thời gian để tự động ẩn thông báo (tính bằng mili giây)

        $('#search-input-bill').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                event.preventDefault();
                // Thực hiện các hành động cần thiết khi người dùng nhấn phím Enter
            }
        });

        var delayTimer;
        $('#search-input-bill').on('input', function () {
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function () {
                $('#billListForm').submit()
            }, 500); // Thời gian chờ tính bằng mili giây
        });

    });

    //delete employy
    function deleteEmployee(id, name, title) {
        renderConfirmationModal(id, name, title)
        $('#modal-confirmation').css('display', 'flex')
    }

    function renderConfirmationModal(id, name, title) {
        $('#modal-confirmation').html(`
                                    <div class="modal-dialog ">
                                        <div class="modal-content modal-content-confirmation">
                                            <div class=" modal-header p-1">
                                                <h6 class="modal-title ms-3">
                                                    <i class="bi bi-exclamation-triangle-fill modal-confirm-content-title"></i>
                                                    Xác nhận muốn xoá nhân viên này?
                                                </h6>
                                                <h5 class="toast__close mb-0" onclick="closeModalConfirmation()">
                                                    <i class="bi bi-x-lg"></i>
                                                </h5>
                                            </div>
                                            <div class="modal-body">
                                                <h6>Thông tin hoá đơn:</h6>
                                                <p>Mã nhân viên: ${id}</p>
                                                <p>Tên nhân viên: ${name}</p>
                                                <p>Chức vụ: ${title}</p>
                                            </div>
                                            <div class="modal-footer p-1">
                                                <button type="button" class="btn btn-primary" onclick="handleDelete('${id}')">Xác nhận</button>
                                                <button type="button" onclick=" closeModalConfirmation()" class="btn btn-outline-primary"
                                                    data-bs-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>`)
    }

    function handleDelete(id) {
        closeModalConfirmation()
        window.location.href = "Employees/Delete?id=" + id;
    }

    function closeModalConfirmation() {
        $('#modal-confirmation').css('display', 'none')
    }
</script>
