@page
@model WahoClient.Pages.Cashier.Orders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Oder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oder.OderState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oder.OderState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oder.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oder.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oder.Cod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oder.Cod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oder.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oder.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oder.EstimatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oder.EstimatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oder.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oder.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oder.Deposit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oder.Deposit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oder.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oder.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oder.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oder.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oder.Shipper)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oder.Shipper.ShipperId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oder.UserNameNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oder.UserNameNavigation.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oder.Waho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oder.Waho.WahoId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Oder.OderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
